doctype

include mixins.jade

html
    head
        meta(charset="utf-8")
        title= self.api.name || 'API Documentation'
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        style!= self.css
        style.
          .heading a {
            font-size: 1.2em;
          }
          p img {
            width: 100%;
          }
          dd p {
            margin: 0.5em 0em;
          }
          p {
            line-height: 150%;
          }
          code {
            padding: 0em 0.25em;
            margin: 0em;
          }
    body.preload
        a.text-muted.back-to-top(href='#top')
            i.fa.fa-toggle-up
            | &nbsp;Back to top
        div(class=self.fullWidth ? 'container-fluid' : 'container')
            .row
                block nav
                    +Nav(false)
                    
                .content
                    block content
                        +Content('primary', false)

        script: include scripts.js
        if self.livePreview
            script(src="/reload/reload.js")